
:root {
    --color-background-01: #2b2c2c;
    --color-background-02: #303131;
    --color-background-03: #feb633;
      --font-color-01: white;
      --font-color-02: #feb633;
      --font-color-03: #73736d;
      --font-type-01: Monterrat-regular;
      --font-type-02: Never-brat;
}

@font-face {
      font-family: Never-brat;
      src: url("./font/Never_brat/Never Brat.ttf")
}

h1{
    color: var(--font-color-01);
    font-family: Never-brat;
}
h2{
    color: var(--font-color-01);	
}
h3{
    color: var(--font-color-01);
}
hr{
      border-color: var(--color-background-03);
      box-sizing: border-box;
      border: 3px solid var(--color-background-03);  
}
section{
    padding: 100px 0 100px 0;
}
i {
    font-size: 20px !important;
    margin-right: 10px;
}
a {
    color: var(--font-color-02);
}
a:hover {
    color: var(--font-color-03);
}


.color-background-01{ background: var(--color-background-01);}
.color-background-02{ background: var(--color-background-02);}
.font-color-01{ color: var(--font-color-01); }
.font-color-02{ color: var(--font-color-02); }
.font-color-03{ color: var(--font-color-03); }
.font-01{ font-family: var(--font-type-01); }
.hr_tamanho_base{ width: 30%; }
.hr_tamanho_title{ width: 8%; }
.hr_tamanho_separacao{ width: 1%; }
.hr_footer{ border: 1px solid #73736d; }
.foto_perfil{ transform: rotate(45deg); }